.work-section{
   padding-right: 1.5rem;     
    text-align: right;
}
.step-number {
  position: absolute;
  top: -2rem;
  left: 1rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: rgba(13, 12, 12, 0.03);
  z-index: 1;
}

